/* -- code snippets -- */
$code-header-height: 2.25rem;
$code-icon-width: 0.5rem;
$base-radius: 12px;
$code-dot-size: 0.6rem;
$code-dot-gap: 0.5rem;
$dot-margin: 0;

@mixin light-syntax {
    --language-border-color: #ececec;
    --highlight-bg-color: #f6f8fa;
    --highlighter-rouge-color: #3f596f;
    --highlight-lineno-color: #9e9e9e;
    --inline-code-bg: #f6f6f7;
    --code-color: #3a3a3a;
    --code-header-text-color: #a3a3a3;
    --code-header-muted-color: #e5e5e5;
    --code-header-icon-color: #c9c8c8;
    --clipboard-checked-color: #43c743;
}


.highlighter-rouge {
  @include light-syntax;
  color: var(--highlighter-rouge-color);
  margin-top: 0.5rem;
  margin-bottom: 1.2em; /* Override BS Inline-code style */
}

.highlight {
  overflow: auto;
  padding-bottom: 0.75rem;

  pre {
    margin-bottom: 0;
    line-height: 1.4rem;
    word-wrap: normal; /* Fixed Safari overflow-x */
  }

  table {
    td {
      &:first-child {
        display: inline-block;
        margin-left: 1rem;
        margin-right: 0.75rem;
      }

      &:last-child {
        padding-right: 2rem !important;
      }

      pre {
        overflow: visible; /* Fixed iOS safari overflow-x */
        word-break: normal; /* Fixed iOS safari linenos code break */
      }
    }
  }

  .lineno {
    text-align: right;
    color: var(--highlight-lineno-color);
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
} /* .highlight */

code {
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  color: var(--code-color);

  &.highlighter-rouge {
    padding: 3px 5px;
    word-break: break-word;
    border-radius: 4px;
    background-color: var(--inline-code-bg);
  }

  &.filepath {
    background-color: inherit;
    color: var(--filepath-text-color);
    font-weight: 600;
    padding: 0;
  }

  a > &.highlighter-rouge {
    padding-bottom: 0; /* show link's underlinke */
    color: inherit;
  }

  a:hover > &.highlighter-rouge {
    border-bottom: none;
  }

  blockquote & {
    color: inherit;
  }
}

td.rouge-code {
  a {
    color: inherit !important;
    border-bottom: none !important;
    pointer-events: none;
  }
}

div[class^='language-'] {
  box-shadow: var(--language-border-color) 0 0 0 1px;

  .content > & {
    border-radius: 0;
  }

  .highlight {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

/* Hide line numbers for default, console, and terminal code snippets */
div {
  &.nolineno,
  &.language-plaintext,
  &.language-console,
  &.language-terminal {
    td:first-child {
      padding: 0 !important;
      margin-right: 0;

      .lineno {
        display: none;
      }
    }
  }
}

.code-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $code-header-height;
  margin-left: 0rem;
  margin-right: 0rem;
  margin-top: 12px;
  border-bottom: 1px solid var(--language-border-color);

  /* the label block */
  span {
    line-height: $code-header-height;

    /* label icon */
    i {
      font-size: 1rem;
      width: $code-icon-width;
      color: var(--code-header-icon-color);

      &.small {
        font-size: 70%;
      }
    }

    @at-root [file] #{&} > i {
      position: relative;
      top: 1px; /* center the file icon */
    }

    /* label text */
    &::after {
      content: attr(data-label-text);
      font-size: 0.85rem;
      font-weight: 600;
      color: var(--code-header-text-color);
    }
  }

  /* clipboard */
  button {
    border: 1px solid transparent !important;
    height: $code-header-height;
    width: $code-header-height;
    padding: 0;
    background-color: inherit;
  }

  span {
    // center the text of label
    margin-left: 0.75rem;
  }
}

@media all and (min-width: 576px) {
  div[class^='language-'] {
    .content > & {
      border-radius: $base-radius;
    }

    .code-header {
      $dot-margin: 1rem;

      &::before {
        content: '';
        display: inline-block;
        margin-left: $dot-margin;
        width: $code-dot-size;
        height: $code-dot-size;
        border-radius: 50%;
        background-color: var(--code-header-muted-color);
        box-shadow: ($code-dot-size + $code-dot-gap) 0 0
            var(--code-header-muted-color),
          ($code-dot-size + $code-dot-gap) * 2 0 0
            var(--code-header-muted-color);
      }

      span {
        // center the text of label
        margin-left: -30px!important;
      }
    }
  }
}

div.highlighter-rouge > button, div.listingblock > div.content > button, figure.highlight > button {
    border: calc($code-header-height/5) solid transparent;
    opacity: 1;
}

.btn-fill {
    width: 100%;
    text-align: center;
}


.main-content-wrap {
    width: 100%;
}


#tocbot-toc {
    border-left: 1px solid rgba(158, 158, 158, 0.17);
    transition: top 0.2s ease-in-out;
    -webkit-animation: fade-up 0.8s;
    animation: fade-up 0.8s;
    box-sizing: border-box;
    padding-top: 64px;
    flex: 1;
    min-width: 300px;
    background-color: #fbfbfb;
    border-left: 1px solid #eeebee;

    h2 {
        font-size: 1rem !important;
        padding: 0.6rem 0 0 1.5rem;
    }

    ol {
        list-style: none;
        font-size: 0.85rem;
        line-height: 1.25;
        padding-left: 0;
        position: -webkit-sticky;
        position: sticky;
        top: 64px;

        li {
            &:not(:last-child) {
                margin: 0.4rem 0;
            }

            a {
                padding: 0.5rem 1.5rem 0.2rem 1.5rem;
            }
        }

        /* Overwrite TOC plugin style */

        .toc-link {
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover {
                color: #7253ed;
                text-decoration: none;
            }

            &::before {
                display: none;
            }
        }

        .is-active-link {
            color: #7253ed !important;
            font-weight: normal;

            &::before {
                display: inline-block;
                width: 1px;
                left: -1px;
                height: 1.25rem;
                background-color: var(--toc-highlight) !important;
            }
        }

        ul {
            padding-left: 0.75rem;
        }
    }
}

.main {
    @include mq(md) {
        position: relative;
        max-width: unset;
    }

    @include mq(lg) {
    }

    margin-left: 0;
    max-width: unset;
    flex: 2;
}

.side-bar {
    z-index: 50;
    height: 100vh;
    position: sticky;
    top: 0;
    flex: 1;
}

.filler {
  flex: 1;
}

.main-container {
    margin: 0 auto;
    display: flex;
}

.content-container {
  flex: 2 0 800px;
  max-width: 1000px;
}

@media (min-width: 330px) and (max-width: 1000px) {
  #tocbot-toc {
    display: none;
  }

  .main-container {
    flex-direction: column;
  }

  .side-bar {
    position: relative;
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: $sidebar-color;
    height: 80px;
    width: 100%;
  }

  .site-footer {
    display: none;
  }

  .site-nav {
    padding-top: 1rem;
  }
}

@media (min-width: 1000px) and (max-width: 1400px) {
  #tocbot-toc {
    display: none;
  }
}

.site-header {
  border: none;
}

.site-nav {
  padding-top: 0.6rem;
}

.site-title {
  font-size: 1.25rem!important;
}

.label {
  margin: 0;
  margin-left: 0!important;
  margin-right: 0!important;
}

.site-logo {
  width: 30px;
  height: 30px;
}

.site-nav-header {
  display: flex;
  align-items: center;
  gap: 12px;

  p {
    font-weight: bold;
    font-size: 16px;
  }
}